<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Diplomados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/estilo.css">
        <link rel="stylesheet" href="css/whatsapp.css">
    </head>
    <body>
        <header>
            <nav id="menu">
                <ul>
                    <li class="img"><img src="img/Aprende PNG BLANCO.png"></li>
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="#">MIS DIPLOMADOS</a></li>
                    <li><a href="#">CLASES GRABADAS</a></li>
                    <li class="item-r"><a href="#">USUARIO</a></li>
                </ul>
            </nav>
        </header>
        <!--Boton de Whatsapp-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola,%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Aprende+" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
        </a>
        <!--Fin boton-->

        <main>
            <section class="dipomados">
                <h1 id="h1_diplomado">COMPRA TUS DIPLOMADOS</h1>
                <section class="imagesdip">
                    <section class="cajaimg">
                        <a href="informacion/Programa diplomado costos y presupuestos de obra.pdf" target="_blank">
                        <img src="img/DIPLOMADO 1.png">
                        </a>
                    </section>
                    <a id="boton" href="#">Compralo aquí!</a>
                    <section class="cajaimg">
                        <a href="informacion/Programa diplomado diseño sismo-resistente.pdf" target="_blank">
                        <img src="img/DIPLOMADO 2.png" alt="">
                        </a>
                    </section>
                    <a id="boton" href="#">Compralo aquí!</a>
                    <section class="cajaimg">
                        <a href="informacion/Programa diplomado Registro de Marcas en Colombia.pdf" target="_blank">
                        <img src="img/DIPLOMADO 3.png" alt="">
                        </a>
                    </section>
                    <a id="boton" href="#">Compralo aquí!</a>
                </section>
            </section>
        </main> 

        <footer>
            Aprende mas S&H S.A.S &nbsp; | &nbsp; No. Matrícula 346522 <br>
            Derechos Reservados &copy; 2020, &nbsp; Colombia <br>
            contacto@aprendemassyh.com
        </footer>
    </body>
</html>