<!DOCTYPE html>
<html lang="es">
<head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/estilo.css">
        <link rel="stylesheet" href="css/whatsapp.css">
</head>
<body background="img/cuaderno.jpg">

    <header>
        <nav id="menu">
            <ul>
                <li class="img"><img src="img/Aprende PNG BLANCO.png"></li>
                <li><a href="index.html">INICIO</a></li>
                <li><a href="quienes.html">QUIENES SOMOS</a></li>
                <li><a href="preguntas.html">PREGUNTAS</a></li>
                <li><a href="registrate.html">REGISTRATE</a></li>
                <li class="item-r"><a href="login.html">INGRESA</a></li>
            </ul>
        </nav>
    </header>

    <!--Boton de Whatsapp-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola,%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Aprende+" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!--Fin boton-->
    
    <br>
    <form action="#" method="POST" id="formulario">
        <h2>Login</h2>
        <input type="text" name="usuario" placeholder="&#9000; Nombre de Usuario" required>
        <input type="password" name="password" placeholder="&#128272; Contraseña" required>
        <input type="submit" name="Btn_action" value="Login">
    </form>

    <footer>
        Aprende mas S&H S.A.S &nbsp; | &nbsp; No. Matrícula 346522 <br>
        Derechos Reservados &copy; 2020, &nbsp; Colombia <br>
        contacto@aprendemassyh.com
    </footer>

</body>
</html>