<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Preguntas Frecuentes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/estilo.css">
        <link rel="stylesheet" href="css/whatsapp.css">
        <link rel="stylesheet" href="css/demo.css">
    </head>
    <body>
        <header>
            <nav id="menu">
                <ul>
                    <li class="img"><img src="img/Aprende PNG BLANCO.png"></li>
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="quienes.html">QUIENES SOMOS</a></li>
                    <li><a href="preguntas.html">PREGUNTAS</a></li>
                    <li><a href="registrate.html">REGISTRATE</a></li>
                    <li class="item-r"><a href="login.html">INGRESA</a></li>
                </ul>
            </nav>
        </header>
        <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola,%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Aprende+" class="float" target="_blank">
            <span class="icon icon-whatsapp"></span>
        </a>

        <div id="preguntas">
            <h1>PREGUNTAS FRECUENTES</h1>
            <p>
                <b>1.¿Cuál es la metodología de los cursos o diplomados?</b><br>
                Mediante nuestra plataforma virtual el estudiante recibirá el contenido respectivo de cada 
                curso, contará con un acompañamiento por parte de un docente de gran experiencia en el tema, 
                el cual será el encargado de dirigir su aprendizaje mediante clases de forma remota. <br>
                <br>

                <b>2.¿Se debe seguir un horario?</b><br>
                Los cursos cuentan con un horario programado, si el estudiante no puede asistir a las clases, 
                estas quedaran grabadas para su posterior estudio independiente. <br>
                <br>

                <b>3.¿Se pueden realizar varios cursos al mismo tiempo?</b><br>
                ¡Por supuesto que Si! el estudiante es quien decide cuantos y cuales cursos desea realizar. <br>
                <br>

                <b>4.¿Como puedo realizar el pago?</b><br>
                Puedes realizar el pago mediante tarjeta débito, crédito, PSE. Adicionalmente pagos en efectivo 
                a través de Efecty y Baloto. Si deseas realizar el pago <a href="">CLICK AQUÍ</a>. <br>
                <br>

                <b>5.¿Cuál es la diferencia de Aprende Mas S&H con otras plataformas de educación no formal?</b><br>
                Nuestro modelo educativo se basa en el aprendizaje y adquisición de conocimientos mediante una 
                metodología robusta en la cual se integran componentes estratégicos que permitan llevar al estudiante 
                a un mejor desarrollo profesional. <br>
                <br>

                <b>6.¿Se realiza devolución del dinero?</b><br>
                No, al ser métodos de pago virtuales no se efectúa devolución de dinero. <br>
                <br>
                
                <b>7.¿Recibo certificación al finalizar el curso?</b><br>
                Si, cada uno de nuestros cursos ofertados tienen una certificación, la cual será entregada al 
                completar de forma exitosa la formación académica. <br>
                <br>

                <b>8.¿Cuáles son los números de Contacto?</b><br>
                Para mayor información contáctate con nosotros <a href="">CLICK AQUI</a>.
            </p>
        </div>

        <div id="imgpreguntas">
            <img src="img/preguntas.jpg">
        </div>

        <div id="contactanos">
            <h2>CONTACTANOS</h2>
            <span class="icon icon-whatsapp"></span>
            <span class="icon icon-facebook2"></span>
            <span class="icon icon-instagram"></span>
        </div>   

        <footer>
            Aprende mas S&H S.A.S &nbsp; | &nbsp; No. Matrícula 346522 <br>
            Derechos Reservados &copy; 2020, &nbsp; Colombia <br>
            contacto@aprendemassyh.com
        </footer>
        
    </body>
</html>