<!DOCTYPE html>
<html lang="es">
<head>
        <title>Quienes Somos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/estilo.css">
        <link rel="stylesheet" href="css/whatsapp.css">
        <link rel="stylesheet" href="css/demo.css">
</head>
<body>

    <header>
        <nav id="menu">
            <ul>
                <li class="img"><img src="img/Aprende PNG BLANCO.png"></li>
                <li><a href="index.html">INICIO</a></li>
                <li><a href="quienes.html">QUIENES SOMOS</a></li>
                <li><a href="preguntas.html">PREGUNTAS</a></li>
                <li><a href="registrate.html">REGISTRATE</a></li>
                <li class="item-r"><a href="login.html">INGRESA</a></li>
            </ul>
        </nav>
    </header>
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola,%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Aprende+" class="float" target="_blank">
        <span class="icon icon-whatsapp"></span>
    </a>
    
    <div id="imgquienes">
        <h2>Crea tu futuro con los mejores</h2>
        <img src="img/qs.png">
    </div>

    <div id="quienessomos">
        <h1>QUIENES SOMOS</h1>
        <p>
            <b>APRENDE+ S&H</b>, es una institución de enseñanza virtual, constituida legalmente en Colombia y controlada 
            por la Cámara de Comercio de Neiva con matrícula 346522. <br>
            
            Los cursos y diplomados que ofertamos son de educación <b>NO FORMAL</b> y no somos una institución de 
            educación superior, brindamos Educación informal, lo cual no genera titulaciones o certificados de aptitud 
            ocupacional, estipulado por el ministerio de educación en su decreto 1075 de 2015 (artículo 2.6.6.8) <br>
            
            Somos una plataforma de enseñanza virtual, que se centra en temas de ingenierías, derecho, psicología 
            administración y economía, nuestro piloto es la prestación de servicios educativos facilitando el acceso 
            de conocimiento a todas las personas que soliciten programas educativos para mejorar su competitividad en 
            su vida profesional, nuestros procesos de formación están elaborados a partir de las necesidades generadas 
            por los sectores productivos, por ende, trabajamos con la mejor tecnología para la creación de la oferta 
            educativa y las mejores técnicas para brindar una excelente formación. <br>
            
            Nuestro equipo de trabajo está conformado por docentes universitarios de reconocidas universidades del país; 
            con amplia experiencia docente y profesional; nuestra plataforma está diseñada con los mejores ambientes de 
            aprendizaje no presencial, con el objetivo de que el estudiante realmente genere una verdadera formación.<br>
        </p>
    </div>

    <div id="contactanos">
        <h2>CONTACTANOS</h2>
        <span class="icon icon-whatsapp"></span>
        <span class="icon icon-facebook2"></span>
        <span class="icon icon-instagram"></span>
    </div>

    <footer>
        Aprende mas S&H S.A.S &nbsp; | &nbsp; No. Matrícula 346522 <br>
        Derechos Reservados &copy; 2020, &nbsp; Colombia <br>
        contacto@aprendemassyh.com
    </footer>

</body>
</html>